<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
     <link rel="icon" href="/img/logo_wh.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Jura|Montserrat|Righteous|Roboto+Condensed|Audiowide|Days+One" rel="stylesheet">
    <title> ZEBRA - Checkout</title>
</head>
<body>
<div class="nav">
    <a href="/home" class="navlogo">HOME</a>
    <a href="/checkout"><img src="/img/carrito.png"><span class="carrito">0</span></a>
    <a href="#seacrh"><i class="material-icons">search</i></a>
    <input type="text" placeholder="" name="search" />
    <a href="/store">STORE</a>
    <a href="#artists">THE CREW</a>
    <a href="#museum">MUSEUM</a>
  </div>

  <div class="check_out">
    <h1>Checkout</h1>
    
    <h2>Carrito: <span class="carrito">0</span></h2>

    <ul class="lista"></ul>
    </div>

    <script src="js/cliente.js"></script>
    <script src="js/checkout.js"></script>
</body>
</html>